@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
.App {
  text-align: center;
  font-family: 'Merriweather', serif;  
  /* background-image: url(../background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100%;
  color: white; */
}
body {
  color: lig;
  
}

.navlinks {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}

body a {
  text-decoration: none;
  color: white;
  /* color: lightblue; */
  padding: 5px 50px;
}

nav a {
  border: solid 1px lightblue;
}

.app-title a{
  font-size: 50px; 
  border-style: none;
  text-transform: uppercase;
  font-weight: bolder;
  color: lightblue;
}

.home {
  width: 500px;
  margin: 0px auto;
  margin-top: 100px;
  font-size: 25px;
  /* border: solid 1px white; */
  border: solid 1px lightblue;
}

.projects {
  width: 300px;
  margin: 0px auto;
}

.projects h1 {
  text-transform: uppercase;
  text-decoration: underline;
}

.projects a {
  font-size: 12px;
  color: white;
}
